.cartcontrol {
    .font {
        display: inline-block;
        padding: 0px;
        height: 24px;
        line-height: 22px;
        font-size: 24px;
        vertical-align: top;
        background-color: #00a0dc;
        color: white;
        border-radius: 50%;
    }
}