.clear:after{
        content: '';
        display: inline-block;
        clear: both;
    }
.lwz-content{
    position: absolute;
    left: 0px;
    top: 174px;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
}
